{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.Prénom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{{ user.tel }}</td> 
                        <td>
                            <form action="{{ path('delete', {id: user.id}) }}" method="delete">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}